### Mac OS ###
.DS_Store

### VS Code ###
.vscode/
/examples/build/
/tests/build/
/bytecode-parser/build/
/analysis-api/build/
/analysis-engine/build/
/benchmarks/build/
.gradle
core-utils/build/
build/
bin/
**/bin/**

### Gradle ###
**/build/
!src/**/build/